@using WebApplicationBD.Models
@model Team

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Profession
            </p>
            <form class="forms-sample" asp-action="Create" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" id="exampleInputUsername1" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProfessionId">Profession</label>
                    <select asp-for="ProfessionId" asp-items="new SelectList(ViewBag.Professions, nameof(Profession.Id), nameof(Profession.Name))"></select>
                    <span asp-validation-for="ProfessionId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="formFile">Image</label>
                    <input asp-for="formFile" class="form-control" id="exampleInputUsername1" placeholder="Image">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light"><a asp-action="Index">Cancel</a></button>
            </form>
        </div>
    </div>
</div>